@model IEnumerable<ProjetoBackend.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h2 class="m-0 p-0 mt-5 fw-bold" style="text-shadow:0 4px 4px rgba(0,0,0,0.25);color:#504742">Compras</h2>

<p>
    <a asp-action="Create" class="create-link">Criar Novo</a>
</p>
<div class="table-responsive">
    <table class="table custom-table-compra">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FornecedorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCompra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorTotal)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="custom-row-compra">
                    <td>
                        @Html.DisplayFor(modelItem => item.FornecedorId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CompraId" class="text-decoration-none edit-icon">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.CompraId" class="text-decoration-none delete-icon">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>