@model IEnumerable<ProjetoBackend.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<h2 class="m-0 p-0 mt-5 fw-bold" style="text-shadow:0 4px 4px rgba(0,0,0,0.25);color:#504742">Vendas</h2>

<p>
    <a asp-action="Create" class="create-link">Criar Novo</a>
</p>
<div class="table-responsive">
    <table class="table custom-table-venda">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NotaFiscal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataVenda)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorTotal)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="custom-row-venda">
                    <td>
                        @Html.DisplayFor(modelItem => item.NotaFiscal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataVenda)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>
                    <td>
                        <a asp-controller="ItensVendas" asp-action="Index" asp-route-id="@item.VendaId" class="text-decoration-none edit-icon">
                            <i class="bi bi-bag-plus" style="color: cyan;"></i>
                        </a>
                        <a asp-action="Edit" asp-route-id="@item.VendaId" class="text-decoration-none edit-icon">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.VendaId" class="text-decoration-none delete-icon">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>